---
interface Project {
    name: string;
    description: string;
    link: {
        url?: string;
        target?: string;
        title?: string;
        buttonLabel?: string;
    };
};

const projects: Project[] = [{
    name: 'Rodan',
    description: 'Rodan is a high-performance Capture-the-Flag platform built to deliver unique, containerized challenges for every team. Each challenge generates dynamic flags, ensuring a consistent solve flow while preventing flag sharing. The system runs on a microservice architecture with SSE-powered live notifications, dedicated authentication, and a Rust-based static file service. Intelligent auto-stop policies reduce idle container usage, while optimized connection handling and orchestration allow the platform to sustain 10,000+ requests per minute without performance degradation.',
    link: {
        url: 'https://github.com/intraware'
    }
}, {
    name: 'DefDrive',
    description: 'Defdrive is a security-focused platform for generating time-sensitive access keys. It supports one-time link usage, subnet/IP whitelisting, and TTL-restricted access to control data flow and limit exposure to external networks. Designed for environments where controlled, temporary access is critical, Defdrive combines simplicity for end-users with robust backend enforcement.',
    link: {
        url: 'https://github.com/ankitprasad2005/defdrive'
    }
}, {
    name: 'Prabandh',
    description: 'Prabandh is an AI-powered file indexing system that uses NLP, image recognition, and OCR to deliver highly accurate search results. It continuously monitors file changes via Watchdog, while Redis caching eliminates redundant processing, resulting in significantly faster query responses. Ideal for large, mixed-media datasets, Prabandh enhances discoverability and retrieval efficiency.',
    link: {
        url: 'https://github.com/ankitprasad2005/prabandh'
    }
}, {
    name: 'GitGuru',
    description: 'GitGuru is a Chrome extension that analyzes and summarizes GitHub Issues in real time, providing developers with concise explanations and actionable solutions. Powered by a FastAPI backend running LLMs, it integrates directly into the GitHub interface via an injected HTML/CSS/JavaScript frontend, streamlining the debugging and issue-resolution process.',
    link: {
        url: 'https://github.com/re-juvenate/gitguru-v2-backend'
    }
}];
---

<div>

    <!-- <h2 class="text-2xl font-bold text-white mb-4">Latest Projects</h2> -->

    <div class="columns-1 md:columns-2 gap-4 space-y-4">

        {projects.map(project =>

            <div class="flex flex-col items-start border border-gray-700 rounded-lg p-4 bg-black break-inside-avoid mb-4">

                <h3 class="text-xl font-semibold text-white mb-2">
                    {project.name}
                </h3>

                <p class="text-gray-400">
                    {project.description}
                </p>

                {
                    project.link?.url ?
                        <a
                            href={project.link.url}
                            title={project.link.title || project.name}
                            target={project.link.target || '_blank'}
                            class="
                                w-full px-4 py-2.5 mt-4 text-center

                                border border-gray-600 rounded-lg

                                hover:text-primary
                                hover:border-primary
                            ">
                            {project.link.buttonLabel || 'Open Project Website'}
                        </a>
                    : null
                }

            </div>

        )}

    </div>

</div>
